/**
* Official color palette
*/

// Primary colours
$navy: #223746;
$sky: #005FA4;
$gold: #FCB116;
$tan: #EBD29E;

// Secondary colours
$graphite: #3C4043;
$sonic-grey: #9B9B9B;
$light-grey: #D7D7D7;
$sand: #F0EFED;
$smoke: #F5F5F5;
$white: #FFFFFF;
$light-blue: #EBF7FF;

// Status colours
$success-green: #1D9F49;
$alert-yellow: #DC9325;
$alert-amber: #AF4525;

// Data Visualization colours
$a1: #801641;
$a2: #E4538E;
$b1: #201048;
$b2: #4430A0;
$b3: #744FF5;
$b4: #A293E3;
$c1: #243003;
$c2: #495D0D;
$c3: #93AC21;
$c4: #BDC75E;
$d1: #033A39;
$d2: #11817F;
$d3: #1EBAB7;
$d4: #74D9D6;
$e1: #5A1605;
$e2: #963D0F;
$e3: #D1682B;
$e4: #F99053;
